@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #F6F7F8;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', system-ui, sans-serif;
}
